<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs') %> 
</head>
<body>
    <div class="gallery-container">
        <h1>Galleri</h1>
        <p>Ai/stock bilder! Bruker picsum så jeg slipper å hoste selv!</p>
        <div class="gallery">
            <img src="https://picsum.photos/300/200?random=1" alt="Random Image 1">
            <img src="https://picsum.photos/300/200?random=2" alt="Random Image 2">
            <img src="https://picsum.photos/300/200?random=3" alt="Random Image 3">
            <img src="https://picsum.photos/300/200?random=4" alt="Random Image 4">
            <img src="https://picsum.photos/300/200?random=5" alt="Random Image 5">
        </div>
    </div>
    <%- include ('partials/foot.ejs') %> 
</body>
</html>